<html>
<head>
<title>Mailroom</title>

<style>
	nav {
		border-bottom: 1px solid #333;
		display: flex;
		justify-content: center;
	}

	nav a {
		border-radius: 2px;
		color: #333;
		text-decoration: none;
		padding: 10px 20px;
		transition: 300ms;
	}

	nav a:hover {
		background: #333;
		color: #ee33ee;
	}
</style>
</head>
<body>
	<nav>
		<a href="{{ url_for('all') }}">All Donations</a>
		<a href="{{ url_for('new_donation') }}">Add Donation</a>
	</nav>
	<h1>Donations</h1>
	<h2>{% block subtitle %} {% endblock subtitle %}</h2>
	{% block content %} {% endblock content %}
</body>
</html>
